/*
	Author	:	Christopher Robinson
	Email		:	christopher@edg3.co.uk
	Website	:	http://www.edg3.co.uk/
*/
* {
	border:0;
	margin:0;
	padding:0;
}

/* general */
a {
	color:#777;
	text-decoration:none;
}

a:hover {
	color:#333;
	text-decoration:none;
}

/* body */
body {
	background:#CBCBCB;
	color:#555;
	font:0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;
}

/* header */
#header {
	border-bottom:1px solid #999;
	height:83px;
	margin:0 auto;
	width:801px;
}
#header h1 {
	color:#888;
	font-size:300%;
	letter-spacing:-3px;
	text-align:right;
	padding:5px;
	margin-bottom:-20px;
}
#header h2 {
	color:#FFFFFF;
	font-size:200%;
	letter-spacing:-2px;
	text-align:right;
}

#header h3{
	color:#FFFFFF;
	font-size:100%;
	letter-spacing:-1px;
	text-align:left;
}

/* navigation */
#navigation {
	background:#fafafa;
	border-right:1px solid #999;
	margin:0 auto;
	width:800px;
	height:40px;
	list-style:none;
}
#navigation li {
	border-left:1px solid #999;
	float:left;
	width:159px;
	list-style:none;
}
#navigation a {
	color:#555;
	display:block;
	line-height:40px;
	text-align:center;
}
#navigation a:hover {
	background:#e3e3e3;
	color:#555;
}
#navigation .active {
	background:#e3e3e3;
	color:#777;
}

/* content */
#content {
	height:auto;
	margin:0 auto;
	padding:0 0 20px;
	width:801px;
}
#content h1 {
	border-bottom:1px dashed #999;
	font-size:1.8em;
	padding:20px 0 0;
}
#content p {
	padding:20px 20px 0;
}

/* footer */
#footer {
	border-top:1px solid #999; 
	height:50px;
	margin:0 auto;
	padding:10px;
	text-align:center;
	width:801px;
}

/* Added by Larry Ullman: */
.error {
	font-weight: bold;
	color: #C00
}

#calendar_wrap {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.title_bar {
	width: 100%;
	height: 30px;
}
.previous_month {
	float: left;
	width: 266px;
	height: 30px;
	text-align: left;
}
.show_month {
	float: left;
	width: 266px;
	height: 30px;
	text-align: center;
}
.next_month{
	float: left;
	width: 266px;
	height: 30px;
	text-align: right;
}
.week_days{
	width: 100%;
}
.days_of_week{
	float: left;
	width: 14%;
	text-align: center;
}
.cal_day{
	position: relative;
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
	width: 110px;
	height: 95px;
	background-color: #9C9;
}
.day_heading {
	position: relative;
	float: left;
	width: 40px;
	height: 16px;
	padding: 6px;
	color: #000;
	font-family: Arial;
	font-size: 14px;
}
.non_cal_day{
	position: relative;
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
	width: 110px;
	height: 95px;
	background-color: #CCC;
}
.clear {
	clear: both;
}

.cap_day{
	position: relative;
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
	width: 30px;
	height: 20px;
}

#rooms-wrap {
	width: 41px;
	float: left;
	margin-left: auto;
	overflow: hidden;
}

.room_no{
	float: bottom;
	width: 30px;
	text-align: center;
}

.room_heading {
	position: relative;
	float: left;
	width: 40px;
	height: 16px;
	padding: 0px;
	color: #000;
	font-family: Arial;
	font-size: 14px;
}

.rooms{
	position: relative;
	float: bottom;
	margin-right: 4px;
	margin-bottom: 4px;
	width: 40px;
	height: 50px;
	background-color: #9C9;
}

#days-wrap {
	width: 760px;
	margin-left: 1px;
	overflow: hidden;
}

.days_no{
	float: left;
	width: 12%;
	text-align: center;
}

.day_heading {
	position: relative;
	float: left;
	width: 40px;
	height: 16px;
	padding: 0px;
	color: #000;
	font-family: Arial;
	font-size: 14px;
}

.days{
	position: relative;
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
	width: 11%;
	height: 50px;
	background-color: #9C9;
}

/*jsgraph stuff below*/

img{
	background:		#FFFFFF
	border:			0px;
}

ul, ol, li{
	list-style:		none;
}

table{
	border:		0px;
	border-collapse:	collapse;
	width: 		100%;
}

div{
	width:		100%;
	position: 	relative;
	top:		0px;
	left:		0px;
}

#div0, #div3{
	width:			400px;
	left:			50%;
	margin-left: 	-200px;
	text-align:		center;
	border:			1px solid #CCCCCC;
	padding:		5px 0px;
}

#div1{
	width:			400px;
	margin-top:		50px;
	background: 	#eeeeee;
	border-left:	1px solid #555555;
	border-bottom:	1px solid #555555;
	height:			300px;
	left:			50%;
	margin-left:	-200px;
	overflow:		hidden;
}

#div3{
	border:0px;margin-top:0px;
}

.div2{
	height:			0px;
	position: 		absolute;
	width:			0px;
	margin-left:	0px;
	top:			0px;
	background:		#006600;
	background:		-moz-linear-gradient(center top, #006600, #004400);
	background:		-webkit-gradient(linear, center top, center top, from(#006600), to(#004400));
	filter:			progid:DXImageTransform.Microsoft.gradient(startColorstr='#006600', endColorstr='#004400');
	}
